<%= link_to("Back to list",{:action => 'index'}, :class => 'back') %>
<h1>New Task</h1>
<div id="form">
    <%= form_for(:todo, :url => {:action => 'create'}) do |f| %>
        
        <table>
            
            <tr>
                <th>Header</th>
                <td><%= f.text_field(:header) %></td>
            </tr>
            <tr>
                <th>Content</th>
                <td><%= f.text_area(:content, cols: "30", rows: "10") %></td>
            </tr>
            
        </table>
        
        <div class="form_buttons">
            <%= submit_tag("Add new") %>
        </div>
    
    <% end %>
</div>
